@import "src/styles/variables";

.button-component__wrapper {

    .button-component {
        width: 100%;
        height: 50px;
        font-size: 15px;
        color: $dark-grey;
        border-radius: 10px;
        border: 1px solid $border-color;

        &.ant-btn-primary {
            color: #fff;
            background: $primary-color;
            border-color: unset;
        }
    }
}