@import "variables.scss";
@import "antOverrides.scss";
@import "icons.scss";

@font-face {
    font-family: "Poppins";
    src: url('../assets/fonts/Poppins-SemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Poppins";
    src: url('../assets/fonts/Poppins-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Poppins";
    src: url('../assets/fonts/Poppins-Light.ttf');
    font-weight: 200;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
}

html,
input,
button,
textarea {
    font-family: "Poppins", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-weight: bold;
}